[submodule "bundle/vim-niji"]
	path = bundle/vim-niji
	url = https://github.com/amdt/vim-niji.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/paraedit.vim"]
	path = bundle/paraedit.vim
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule "bundle/screen"]
	path = bundle/screen
	url = https://github.com/ervandew/screen.git
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "bundle/ghc-mod"]
	path = bundle/ghc-mod
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "bundle/vim-haskellConceal"]
	path = bundle/vim-haskellConceal
	url = https://github.com/Twinside/vim-haskellConceal.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vimshell.vim"]
	path = bundle/vimshell.vim
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "bundle/haskellmode-vim"]
	path = bundle/haskellmode-vim
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "bundle/html-template-syntax"]
	path = bundle/html-template-syntax
	url = https://github.com/pbrisbin/html-template-syntax.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-haskellFold"]
	path = bundle/vim-haskellFold
	url = https://github.com/Twinside/vim-haskellFold.git
[submodule "bundle/vim-syntax-haskell-cabal"]
	path = bundle/vim-syntax-haskell-cabal
	url = https://github.com/Twinside/vim-syntax-haskell-cabal.git
[submodule "bundle/fsharp-vim"]
	path = bundle/fsharp-vim
	url = https://github.com/kongo2002/fsharp-vim.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git@github.com:altercation/vim-colors-solarized.git
