[submodule "bundle/vim-haskellConceal"]
	path = bundle/vim-haskellConceal
	url = git@github.com:Twinside/vim-haskellConceal.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/powerline-fonts"]
	path = bundle/powerline-fonts
	url = git@github.com:Lokaltog/powerline-fonts.git
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = git@github.com:Lokaltog/powerline-fonts.git
